body {
  font: 56px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

h3 {
  font-size: 24px;
  font-style: italic;
}

ol,
ul {
  padding-left: 30px;
  font-size: 24px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 30px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-place {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.game-info {
  margin-left: 20px;
}

.step-btn,
.step-btn-start {
  cursor: pointer;
  padding: 5px;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.step-btn-start {
  background-color: rgb(9, 235, 9);
}
